/* navigation bar css - if updated in styles.css, copy updates to here too */
.navbar-1 {
    overflow: hidden;
    background-color: #333;
}

.navbar-1 a {
    float: left;
    padding: 10px 10px;
    font-size: 17px;
    text-align: center;
    text-decoration: none
}

.navbar-1 a.current {
    background-color: #04AA6D;
}

table { 
    border: 1px solid black; 
    margin-left: auto; 
    margin-right: auto; 
} 

/* calculator */
input[type="button"] { 
    width: 100%; 
    padding: 20px 40px; 
    /* background-color: green;  */
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 15px;
} 

input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
} 

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b0, #bdot, #f6 {
    background-color: #333333
}

#f1, #f2, #f3, #f4, #f5 {
    background-color: #FF9F0A;
}