#number {
    color: white;
    font-size: large;
}

.btn {
    background-color: green;
    height: 80px;
    width: 100px;
    color: red;
    border: 2%;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.text1 {
    color: white;
    font-size: small;
}