#number {
    color: white;
    font-size: large;
}

.btn {
    background-image: linear-gradient(180deg,  #0538ee 50%, #13b4ef 100%);
    height: 80px;
    width: 100px;
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.text1 {
    color: white;
    font-size: smaller;
}