.rgbbox {
    width: 100px;
    height: 100px;
    border: 20px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.rgbinnerbox-1 {
    width: 71px;
    height: 71px;
    border: 15px solid transparent;
}

.rgbinnerbox-2 {
    width: 42px;
    height: 42px;
    border: 15px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}

.rgbinnerbox-3 {
    width: 30px;
    height: 30px;
    border: 7px solid transparent;
}

.rgbinnerbox-4 {
    height: 17px;
    border: 7px solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}