.link-section-header {
    color: white;
    margin-bottom: 0px;
}

.link-section {
    margin-top: 0px;
}

.links-c1 {
    color: aqua;
}

.links-c1:hover {
    color: darkblue;
}

.testb1 {
    width: 100px;
    height: 100px;
}

.testb2 {
    background-color: green;
}

.testb1:hover {
    background-color: red;
}

.tb1:focus {
    background-color: orange;
}

.tp1 {
    color: white;
}

input.toggle-btn {
    visibility: hidden;
}

input.toggle-btn::before {
    content: attr(value);
    display: inline-block;
    padding: 5px;
    background: #fff;
    font-size: 14pt;
    color: #aaa;
    border-radius: 5px;
    border: 1px solid #aaa;
    visibility: visible;
}
input.toggle-btn:checked::before {
    background: rgb(50,150,250);
    color: #eee;
    border-color: #eee;
}

.h1a {
    margin-bottom: 0px;
    color: aqua;
}

.p1a {
    color: aqua;
}

.indexp1, .indexh1 {
    color: aqua;
}

.a1 {
    color: rgb(182, 174, 224);
  }

#wtxt {
    color: white;
}