/* may need to change this block */
.tarea-1 {
    box-sizing: content-box;
    height: 100px;
    width: 250px;
    min-height: 100px;
    max-height: 400px;
    min-width: 250px;
    max-width: 700px;
    font-size: 16px;
    font-family: sans-serif;
}

.navbar-1 {
    overflow: hidden;
    background-color: #333;
}

.navbar-1 a {
    float: left;
    padding: 10px 10px;
    font-size: 17px;
    text-align: center;
    text-decoration: none
}

.navbar-1 a.current {
    background-color: #04AA6D;
}

.link-section-header {
    color: white;
    margin-bottom: 0px;
}

.link-section {
    margin-top: 0px;
}

.links-c1 {
    color: aqua;
}

.links-c1:hover {
    color: darkblue;
}