.tarea-1 {
    box-sizing: content-box;
    height: 100px;
    width: 250px;
    min-height: 100px;
    max-height: 400px;
    min-width: 250px;
    max-width: 700px;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    background-color: darkslateblue;
}

.t1 {
    color: white;
}

.link-section-header {
    color: white;
    margin-bottom: 0px;
}

.link-section {
    margin-top: 0px;
}

.links-c1 {
    color: aqua;
}

.links-c1:hover {
    color: darkblue;
}

.testb1 {
    /* background-color: green; */
    width: 100px;
    height: 100px;
}

.testb2 {
    background-color: green;
}

.testb1:hover {
    background-color: red;
}

.tp1 {
    color: white;
}